{% extends "site_base.html" %}
{% block title %}Sign up{% endblock %}
{% block header %}Sign up{% endblock %}
{% block content %}
<div class="row">
  <div class="span4">
    <p><a href="/register/basic/">Free</a></p>
    <p>$0 per month</p>
    <p>30 mb limit (about 15 images)</p>
  </div>
  <div class="span4">
    <p><a href="/register/premium/">Premium</a></p>
    <p>$4 per month</p>
    <p>300 mb limit (about 150 images)</p>
    <p>All features included!</p>
  </div>
  <div class="span4">
    <p><a href="/register/professional/">Professional</a></p>
    <p>$10 per month</p>
    <p>1 gb limit (about 500 images)</p>
    <p>All features included!</p>
  </div>
</div>
{% endblock %}
