{% extends "site_base.html" %}
{% block title %}Sign up{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div class="row container-narrow">
  <div class="jumbotron">
    <h1 class="muted">Coming Soon!</h1>
    <p class="lead muted">Eager to start? Try out the <em>beta</em> version.</p>
    <a class="btn btn-large btn-primary" href="/register/basic/">Let's go</a>
  </div>
<!--
  <div class="span2">
    <h1><a href="/register/basic/" class="btn btn-large btn-primary">Basic</a></h1>
    <h3><b>Free!</b></h3>
    <p>20 images</p>
  </div>
  <div class="span2">
    <h1><a href="/register/premium/" class="btn btn-large btn-primary">Premium</a></h1>
    <h3>$5.99/month</h3>
    <p>150 images</p>
  </div>
  <div class="span2">
    <h1><a href="/register/professional/" class="btn btn-large btn-primary">Professional</a></h1>
    <h3>$7.99/month</h3>
    <p>1000 images</p>
    <p class="muted"><b>Best Value!</b></p>
  </div>
-->
</div>
{% endblock %}
