{% extends "site_base.html" %}{% load zebra_tags %}
{% block title %}Sign up{% endblock %}
{% block head %}{{ block.super }}
{% zebra_head_and_stripe_key %}
{% endblock %}
{% block content %}
<div class="container-narrow">
  <div class="login-box">
    <h3 class="muted"><em>(&alpha; version)</em></h3>
    <form method="POST" action="" id="payment-form">
      {% csrf_token %}
      <span class="payment-errors"></span>
      <div class="muted">
	{{ user_form.as_p }}
      </div>
      {% if zebra_form %}
      <div class="muted">
	<h4>Credit card details</h4>
	{{ zebra_form.as_p }}
      </div>
      {% endif %}
      <button type="submit" class="submit-button btn-primary btn-large">Sign up</button>
    </form>
  </div>
</div>
{% endblock %}
