{% extends "site_base.html" %}
{% block title %}Sign up{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div class="row">
</div>
<div class="row">
  <div class="span3">
  </div>
  <div class="span3">
    <h1><a href="/register/starter/" class="btn btn-large btn-success">Starter</a></h1>
    <h3><b>Free</b></h3>
    <p>10 images</p>
    <p>Maximum 2mb per image</p>
  </div>
  <div class="span3">
    <h1><a href="/register/premium/" class="btn btn-large btn-success">Premium</a></h1>
    <h3>$4 per month</h3>
    <p>150 images</p>
    <p>Maximum 4mb per image</p>
    <p>All features unlocked!</p>
  </div>
  <div class="span3">
    <h1><a href="/register/professional/" class="btn btn-large btn-success">Professional</a></h1>
    <h3>$10 per month</h3>
    <p>500 images</p>
    <p>Maximum 20mb per image</p>
    <p>All features unlocked!</p>
  </div>
</div>
{% endblock %}
