{% extends "portfolio_base.html" %}{% load zebra_tags %}
{% block title %}{{ profile.fullname }} | Credit card updated{% endblock %}
{% block head %}{{ block.super }}
{% zebra_head_and_stripe_key %}
{% endblock %}
{% block script %}{% endblock %}
{% block content %}
<div class="row muted">
  <div class="span2">
  </div>
  <div class="span8">
    <h3 class="muted">Please enter your credit card information</h3>
    <form method="POST" action="" id="payment-form">
      {% csrf_token %}
      {{ zebra_form.as_p }}
      <button type="submit" class="submit-button btn-custom btn-large">Update</button>
    </form>
    {% if last_4 %}
    <p><em>You currently have an active credit card ending in <b>{{ last_4 }}</b>.
    Use this form to update your active card.</em></p>
    {% endif %}
  </div>
</div>
{% endblock %}
