{% extends "portfolio_base.html" %}
{% block title %}{{ profile.fullname }} | Settings{% endblock %}
{% block header %}{% endblock %}
{% block script %}
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}js/confirm-delete.js"></script>
<script>
$(function() {
  $( "#accordion" ).accordion({
    heightStyle: "content"
  });
});
</script>
{% endblock %}
{% block content %}
<div id="dialog" title="Are you absolutely sure?">
  <p>
    <span class="ui-icon ui-icon-alert"></span>
    Your portfolio and all photos it contains will be permanently deleted!</p>
</div>
<div class="row">
  <div class="span10">
    <h3 class="muted">Your account settings</h3>
    <div id="accordion">
      <h3>Upgrade <em>(or change)</em> your account</h3>
      <div class="row">
	<div class="span3">
	  <a href="" class="btn btn-large btn-custom">Starter</a>
	</div>
	<div class="span3">
	  <a href="" class="btn btn-large btn-custom">Premium</a>
	</div>
	<div class="span2">
	  <a href="" class="btn btn-large btn-custom">Professional</a>
	</div>
      </div>

      <h3>Change your password</h3>
      <div>
	<form method="post" action=".">
	  {% csrf_token %}
	  {{ password_change_form.as_p }}
	  <input type="submit" value="Submit" class="btn btn-large btn-custom">
	</form>
      </div>
      <h3>Delete your account</h3>
      <div>
	<p>Are you <em>sure</em> you want to delete your account?  It's also possible to downgrade
	  your account.</p>
	<d class="muted"><em>If you have a paid account, your credit card will no longer be charged once you've deleted your account.</em></p>
	<a href="/delete/" class="btn btn-custom confirm">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
