* {
    margin: 0;
}
html, body {
    height: 100%;

}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -25px;
}
.footer, .push {
    height: 25px;
}
.logo {
    text-decoration: none !important;
}
.logo-text {
    color: #808080;
    opacity: 0.4;
}
.logo:hover .logo-text {
    opacity: 1.0;
}
div.darken {
    display: inline-block;
    background: black;
    padding: 0;
}
div.darken img {
    display: block;
}
.gallery-title {
    display: none;
}
#left, #right {
    position: fixed;
    width: 35px;
    top: 0;
    bottom: 0;
}
#left {
    left: 0;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjA0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, rgba(0,0,0,0.04) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.04)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.04) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0,0,0,0.04) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0,0,0,0.04) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(0,0,0,0.04) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a000000', endColorstr='#00000000',GradientType=1 ); /* IE6-8 */
}
#right {
    right: 0;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wNCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.04) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.04))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.04) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.04) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.04) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.04) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0a000000',GradientType=1 ); /* IE6-8 */
}
.btn-contact {
    border:1px solid #ccd5da; -webkit-border-radius: 10px; -moz-border-radius: 10px;border-radius: 10px; padding: 8px 8px 8px 8px; font-weight:bold; text-align: center; color: #212121; background-color: #EDF0F2;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EDF0F2), color-stop(100%, #A3AEB3));
    background-image: -webkit-linear-gradient(top, #EDF0F2, #A3AEB3);
    background-image: -moz-linear-gradient(top, #EDF0F2, #A3AEB3);
    background-image: -ms-linear-gradient(top, #EDF0F2, #A3AEB3);
    background-image: -o-linear-gradient(top, #EDF0F2, #A3AEB3);
    background-image: linear-gradient(top, #EDF0F2, #A3AEB3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#EDF0F2, endColorstr=#A3AEB3);
}
.btn-contact:hover {
    border:1px solid #b2bfc7; background-color: #cfd7dd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfd7dd), color-stop(100%, #87959c));
    background-image: -webkit-linear-gradient(top, #cfd7dd, #87959c);
    background-image: -moz-linear-gradient(top, #cfd7dd, #87959c);
    background-image: -ms-linear-gradient(top, #cfd7dd, #87959c);
    background-image: -o-linear-gradient(top, #cfd7dd, #87959c);
    background-image: linear-gradient(top, #cfd7dd, #87959c);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cfd7dd, endColorstr=#87959c);
}
