* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -25px;
}
.footer, .push {
    height: 25px;
}
.container-narrow {
    margin: 0 auto;
    max-width: 870px;
}
.login-box {
    margin: 0 auto;
    margin-top: 50px;
    width: 200px;
}
/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* Additional tweaks */
.dull-link {
    text-decoration: none !important;
}
.dull-link:hover {
    color: #0088CC !important;
}