{% extends "portfolio_base.html" %}
{% block title %}{{ profile.fullname }} | About{% endblock %}
{% block header %}{% endblock %}
{% block script %}
{% if user.is_authenticated and user.username == username %}
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/confirm-delete.js"></script>
<script>
$(document).ready(function(){
  $("#toggle-directions").click(function(){
    $("#directions").toggle(200);
  });
});
</script>
{% endif %}
{% endblock %}
{% block content %}
{% if user.is_authenticated and user.username == username %}
<div id="dialog" title="Are you sure?">
  <p>
    <span class="ui-icon ui-icon-alert"></span>
    This photo will be permanently deleted.</p>
</div>
<a id="toggle-directions" style="cursor: pointer"><b>Toggle directions</b></a>
<ul class="muted" id="directions">
  <li><em><a href="/{{ username }}/edit/">Edit</a></em> this page, or use the <em>tools</em> drop-down menu</li>
  <li>All information is optional</li>
</ul>
{% endif %}
<div class="row">
  <div class="span7">
    {% if profile.about %}
    <div class="row">
      <div class="span1">
	<p><b>About</b></p>
      </div>
      <div class="span6">
	<p>{{ profile.about|linebreaksbr }}</p>
      </div>
    </div>
    {% endif %}
    {% if profile.email %}
    <div class="row">
      <div class="span1">
	<p><b>Email</b></p>
      </div>
      <div class="span6">
	<p>{{ profile.email }}</p>
      </div>
    </div>
    {% endif %}
    {% if profile.phone %}
    <div class="row">
      <div class="span1">
	<p><b>Phone</b></p>
      </div>
      <div class="span6">
	<p>{{ profile.phone }}</p>
      </div>
    </div>
    {% endif %}
    {% if profile.location %}
    <div class="row">
      <div class="span1">
	<p><b>Location</b></p>
      </div>
      <div class="span6">
	<p>{{ profile.location }}</p>
      </div>
    </div>
    {% endif %}
    {% if profile.website %}
    <div class="row">
      <div class="span1">
	<p><b>Website</b></p>
      </div>
      <div class="span6">
	<a href="{{ profile.website }}" target="_blank">{{ profile.website }}</a>
      </div>
    </div>
    {% endif %}
  </div>
  {% if profile.picture %}
  <div class="span3" style="position: relative; left: 0; top: 0;">
      <img src="{{ profile.picture.url }}">
      {% if user.is_authenticated and username == user.username %}
      <a href="/{{ username }}/about/delete_photo/" class="confirm">
	<img src="{{ STATIC_URL }}img/delete.png" style="position: absolute; top: 0; left: 0">
      </a>
      {% endif %}
  </div>
  {% endif %}
</div>
<div class="row">
  <div class="span7">
    <div class="row">
      <div class="span1">
      </div>
      <div class="span6">
	{% if profile.twitter %}
	<a href="{{ profile.twitter }}" target="_blank" style="padding-right: 15px"><img src="{{ STATIC_URL }}/img/twitter.png"></a>
	{% endif %}
	{% if profile.facebook %}
	<a href="{{ profile.facebook }}" target="_blank" style="padding-right: 15px"><img src="{{ STATIC_URL }}/img/facebook.png"></a>
	{% endif %}
	{% if profile.google_plus %}
	<a href="{{ profile.google_plus }}" target="_blank" style="padding-right: 15px"><img src="{{ STATIC_URL }}/img/gplus.png"></a>
	{% endif %}
	{% if profile.linkedin %}
	<a href="{{ profile.linkedin }}" target="_blank" style="padding-right: 15px"><img src="{{ STATIC_URL }}/img/linkedin.png"></a>
	{% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
