{% extends "portfolio_base.html" %}
{% block title %}{{ profile.fullname }} | Contact{% endblock %}
{% block head %}
<style>
  .form-errors {
    border: 1px solid #ff4d42;
    border-radius: 5px;
    background: #ffe2d6;
    padding: 3px;
    display: inline-block;
  }
  .message-success {
    color: #4fc46f;
    text-align: center;
  }
</style>
{% endblock %}
{% block content %}
<div class="container-narrow muted">
  {% if thanks %}
  <h3 class="message-success">Your message has been sent</h3>
  {% endif %}
  <div class="row-fluid marketing">
    <div class="span4 offset3">
      <form method="post" action=".">
	{% csrf_token %}

	<label for="id_sender">Your email (optional)</label>
	{% if form.sender.errors %}
	<p class="form-errors">Invalid email address</p>
	{% endif %}
	{{ form.sender }}

	<label for="id_message">Message</label>
	{% if form.message.errors %}
	<p class="form-errors">Write a message before sending</p>
	{% endif %}
	{{ form.message }}
	<input type="submit" value="Send Message" class="btn-contact" />
      </form>
    </div>
    <div class="span3"  style="padding-left: 30px">
      {% if profile.email %}
      <h4>Email</h4>
      <p style="padding-bottom: 10px">{{ profile.email }}</p>
      {% endif %}
      {% if profile.phone %}
      <h4>Phone</h4>
      <p>{{ profile.phone }}</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
