{% extends "portfolio_base.html" %}
{% block title %}{{ profile.fullname }} | Contact{% endblock %}
{% block head %}
<style>
  .form-errors {
    border: 1px solid #ff4d42;
    border-radius: 5px;
    background: #ffe2d6;
    padding: 3px;
    display: inline-block;
  }
  .message-success {
    color: #4fc46f;
    text-align: center;
  }
</style>
{% endblock %}

{% block script %}
{% if user.is_authenticated and user.username == username %}
<script type="text/javascript" src="{{ STATIC_URL }}js/csrf.js"></script>
<script>
$(document).ready(function() {
  $("button.btn").on("click", function(){
    if ($(".enable-contact").hasClass("btn-success")) {
      $(".enable-contact").removeClass("btn-success");
      $(".enable-contact").addClass("btn-default");
      $(".disable-contact").removeClass("btn-default");
      $(".disable-contact").addClass("btn-danger");
    } else {
      $(".enable-contact").removeClass("btn-default");
      $(".enable-contact").addClass("btn-success");
      $(".disable-contact").removeClass("btn-danger");
      $(".disable-contact").addClass("btn-default");
    }
    $.ajax({
      type: "POST",
      url: "/toggle_contact_page/",
      data: {'enable': $(this).val()}
    }); 
  });
});
</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="container-narrow muted">
  {% if thanks %}
  <h3 class="message-success">Your message has been sent</h3>
  {% endif %}
  <div class="row-fluid marketing">

    {% if user.is_authenticated and user.username == username %}
    <div class="span3">
      <p class="muted">Enable contact page?</p>
      <div class="btn-group" data-toggle="buttons-radio" style="display: inline">
	{% if profile.allow_contact %}
	<button type="button" class="btn btn-success enable-contact" value="True"><i class="icon-ok"></i></button>
	<button type="button" class="btn btn-default disable-contact" value="False"><i class="icon-remove"></i></button>
	{% else %}
	<button type="button" class="btn btn-default enable-contact" value="True"><i class="icon-ok"></i></button>
	<button type="button" class="btn btn-danger disable-contact" value="False"><i class="icon-remove"></i></button>
	{% endif %}
      </div>
    </div>
    <div class="span4">
    {% else %}
    <div class="span4 offset3">
    {% endif %}

      <form method="post" action=".">
	{% csrf_token %}

	<label for="id_sender">Your email (optional)</label>
	{% if form.sender.errors %}
	<p class="form-errors">Invalid email address</p>
	{% endif %}
	{{ form.sender }}

	<label for="id_message">Message</label>
	{% if form.message.errors %}
	<p class="form-errors">Please write a message first</p>
	{% endif %}
	{{ form.message }}
	<input type="submit" value="Send Message" class="btn-contact" />
      </form>
    </div>
    <div class="span3"  style="padding-left: 30px">
      {% if profile.email %}
      <h4>Email</h4>
      <p style="padding-bottom: 10px">{{ profile.email }}</p>
      {% endif %}
      {% if profile.phone %}
      <h4>Phone</h4>
      <p>{{ profile.phone }}</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
