{% extends "portfolio_base.html" %}
{% block title %}{{ profile.fullname }} | Create Gallery{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div class="row muted">
  <div class="span3">
  </div>
  <div class="span6">
    <h3>Create a gallery</h3>
    <form method="post" action="." enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Create gallery" class="btn btn-large btn-success btn-custom">
    </form>
  </div>
</div>
{% endblock %}
