g{% extends "portfolio_base.html" %}
{% block title %}{{ profile.fullname }} | Edit{% endblock %}
{% block header %}{% endblock %}
{% block script %}
<!--<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>-->
<script type="text/javascript" src="{{ STATIC_URL }}js/jscolor.js"></script>
<script>
$(function() {
  $("#id_background_color").addClass("color");
  $("#id_text_color").addClass("color");
  $("#id_text_color_hover").addClass("color");
});
</script>
{% endblock %}
{% block content %}
<style>
  textarea {
    width: 100%;
    height: 100px;
  }
</style>
<div class="row">
<div class="span10 offset2">
  <h3 class="muted" style="padding-left: 150px">Customize</h3>
  {% if form.errors %}
  <p class="muted">Please correct the errors and resubmit.</p>
  {% endif %}
  <form method="post" action="." enctype="multipart/form-data" class="form-horizontal muted">
    {% csrf_token %}

<!--
      <div>
	{{ form.location.errors }}
	<label for="id_location">Location</label>
	{{ form.location }}
      </div>

      <div>
	{{ form.email.errors }}
	<label for="id_email">Contact email</label>
	{{ form.email }}
	{{ form.phone.errors }}
	<label for="id_phone">Phone</label>
	{{ form.phone }}
	{{ form.website.errors }}
	<label for="id_website">Website</label>
	{{ form.website }}
      </div>

      <div>
	{{ form.twitter.errors }}
	<label for="id_twitter">Twitter</label>
	{{ form.twitter }}
	{{ form.facebook.errors }}
	<label for="id_facebook">Facebook</label>
	{{ form.facebook }}
	{{ form.google_plus.errors }}
	<label for="id_google_plus">Google+</label>
	{{ form.google_plus }}
	{{ form.linkedin.errors }}
	<label for="id_linkedin">LinkedIn</label>
	{{ form.linkedin }}
      </div>

      <div>
	{{ form.about.errors }}
	<label for="id_about">About</label>
	{{ form.about }}
	{{ form.picture.errors }}
	<label for="id_picture">Profile picture</label>
	{{ form.picture }}
      </div>
-->
      <div class="control-group">
	{{ form.fullname.errors }}
	<label class="control-label" for="id_fullname">Portfolio Title</label>
	<div class="controls">
	  {{ form.fullname }}
	</div>
      </div>

      <div class="control-group">
	{{ form.picture.errors }}
	<label class="control-label" for="id_picture">Profile picture</label>
	<div class="controls">
	  {{ form.picture }}
	</div>
      </div>

      <div class="control-group">
	{{ form.banner.errors }}
	<label class="control-label" for="id_banner">Banner image</label>
	<div class="controls">
	  {{ form.banner }}
	</div>
      </div>

      <div class="control-group">
	{{ form.portfolio_columns.errors }}
	<label class="control-label" for="id_columns">Thumbnail style</label>
	<div class="controls">
	  {{ form.portfolio_columns }}
	</div>
      </div>

      <div class="control-group">
	{{ form.blog.errors }}
	<label class="control-label" for="id_blog">Blog URL (optional)</label>
	<div class="controls">
	  {{ form.blog }}
	</div>
      </div>
      
      <div class="control-group">
	{{ form.background_color.errors }}
	<label class="control-label" for="id_background_color">Background color</label>
	<div class="controls">
	  {{ form.background_color }}
	</div>
      </div>
      
      <div class="control-group">
	{{ form.text_color.errors }}
	<label class="control-label" for="id_text_color">Text color</label>
	<div class="controls">
	  {{ form.text_color }}
	</div>
      </div>
      
      <div class="control-group">
	{{ form.text_color_hover.errors }}
	<label class="control-label" for="id_text_color_hover">Text hover color</label>
	<div class="controls">
	  {{ form.text_color_hover }}
	</div>
      </div>
      

      <input type="submit" value="Update portfolio" class="btn-green" style="margin-left: 150px">
      <a class="btn-contact btn-link" href="/" style="margin-left: 10px">Cancel</a>
  </form>
</div>
</div>
{% endblock %}
