{% extends "portfolio_base.html" %}
{% block title %}{{ profile.fullname }} | Edit Caption{% endblock %}
{% block head %}
<style>
  .centered-box {
    margin: 0 auto;
    width: 300px;
  }
</style>
{% endblock %}
{% block content %}
<div class="centered-box muted">
  <h3>Edit Caption</h3>
  <form method="post" action=".">
    {% csrf_token %}
    <input id="id_caption" type="text" name="caption" maxlength="100" placeholder="Caption (optional)" style="width: 286px"/>
    <input type="submit" value="Save" class="btn-green">
    <a class="btn-contact btn-link" onClick="javascript:history.go(-1);">Cancel</a>
  </form>
</div>
{% endblock %}
