{% extends "portfolio_base.html" %}
{% block title %}{{ profile.fullname }} | Edit{% endblock %}
{% block header %}{% endblock %}
{% block script %}
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script>
$(function() {
  $( "#accordion" ).accordion({
    heightStyle: "content"
  });
});
</script>
{% endblock %}
{% block content %}
<style>
  textarea {
    width: 100%;
    height: 100px;
  }
</style>
<div class="row">
<div class="span10">
  <h3 class="muted">Edit your portfolio</h3>
  <p class="muted"><em>(All fields are optional)</em></p>
  {% if form.errors %}
  <p>Please correct the errors and resubmit.</p>
  {% endif %}
  <form method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}
    <div id="accordion">
      <h3>Basic</h3>
      <div>
	{{ form.fullname.errors }}
	<label for="id_fullname">Name:</label>
	{{ form.fullname }}
	{{ form.location.errors }}
	<label for="id_location">Location:</label>
	{{ form.location }}
      </div>
      <h3>Contact</h3>
      <div>
	{{ form.email.errors }}
	<label for="id_email">Contact email:</label>
	{{ form.email }}
	{{ form.phone.errors }}
	<label for="id_phone">Phone:</label>
	{{ form.phone }}
	{{ form.website.errors }}
	<label for="id_website">Website:</label>
	{{ form.website }}
      </div>
      <h3>About and Picture</h3>
      <div>
	{{ form.about.errors }}
	<label for="id_about">About:</label>
	{{ form.about }}
	{{ form.picture.errors }}
	<label for="id_picture">Profile picture:</label>
	{{ form.picture }}
      </div>
      <h3>Customize</h3>
      <div>
	{{ form.style.errors }}
	<label for="id_style">Background:</label>
	{{ form.style }}
	{{ form.portfolio_columns.errors }}
	<label for="id_columns">Portfolio thumbnail style:</label>
	{{ form.portfolio_columns }}
	{{ form.gallery_columns.errors }}
	<label for="id_columns">Gallery thumbnail style:</label>
	{{ form.gallery_columns }}
      </div>
    </div>
    <input type="submit" value="Update portfolio" class="btn btn-large btn-success btn-custom" style="float: right; margin-top: 10px; margin-right: 50px;">
  </form>
</div>
</div>
{% endblock %}
