{% extends "portfolio_base.html" %}
{% block stylesheet %}
<link href="{{ STATIC_URL }}css/lightbox.css" rel="stylesheet">
{% endblock %}
{% block script %}
{% if user.is_authenticated and user.username == username %}
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/confirm-delete.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/csrf.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/sorting.js"></script>
<script>
$(document).ready(function(){
  $("#toggle-directions").click(function(){
    $("#directions").toggle(200);
  });
});
</script>
{% endif %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lightbox.js"></script>
{% endblock %}
{% block title %}{{ profile.fullname }} | {{ gallery.title }}{% endblock %}
{% block header %}{% endblock %}
{% block navbar-text %}
{% endblock %}
{% block content %}
{% if user.is_authenticated and user.username == username %}
{% if profile.photo_count > customer.account_limit %}
<h1 style="color: red">UPLOAD LIMIT EXCEEDED</h1>
<p style="color: orange"><em>This gallery is currently <b>hidden</b> because you've exceeded your upload limit ({{ customer.account_limit }} uploads). 
    Please either <a href="/{{ username }}/settings">upgrade</a> your account or delete the excess 
    photos to re-enable your public portfolio.</em></p>
{% endif %}
<a id="toggle-directions" style="cursor: pointer"><b>Toggle directions</b></a>
<ul class="muted" id="directions">
  <li><em>Rearrange</em> photos by dragging and dropping them</li>
  <li><em>Delete</em> a photo or <em>edit</em> the photo's caption</li>
  <li><em><a href="/{{ username }}/edit/">Customize</a></em> the thumbnail styling</li>
</ul>
<h4 class="muted" style="text-align: center">{{ gallery.title }}</h4>
<div id="dialog" title="Are you sure?">
  <p>
    <span class="ui-icon ui-icon-alert"></span>
    This photo will be permanently deleted.</p>
</div>
{% endif %}
{% if profile.photo_count <= customer.account_limit or user.is_authenticated and username == user.username %}
<div class="row">
  <div class="span12">
    <ul class="thumbnails sortable-photos">
      {% for photo in gallery.photo_set.all %}
      <li id="photos_{{ photo.pk }}">
	<div style="position: relative; left: 0; top: 0;">
	  <a href="{{ photo.image.url }}" class="lightbox" rel="lightbox[{{ gallery.title }}]" title="{{ photo.caption }}">
	    {% if profile.gallery_columns == 3 %}
	    <img src="{{ photo.thumbnail_3.url }}">
	    {% else %}
	    <img src="{{ photo.thumbnail_1.url }}">
	    {% endif %}
	  </a>
	  {% if user.is_authenticated and username == user.username %}
	  <a href="/{{ username }}/photo/{{ photo.pk }}/delete/" class="confirm">
	    <img src="{{ STATIC_URL }}img/delete.png" style="position: absolute; top: 0; right: 0">
	  </a>
	  <a href="http://google.com">
	    <img src="{{ STATIC_URL }}img/edit.png" style="position: absolute; bottom: 0; left: 0;"/>
	  </a>
	  {% endif %}
	</div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
{% endblock %}
