{% extends "portfolio_base.html" %}
{% block stylesheet %}
<link href="{{ STATIC_URL }}css/lightbox.css" rel="stylesheet">
{% endblock %}
{% block script %}
{% if user.is_authenticated and user.username == username %}
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/confirm-delete.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/sorting.js"></script>
{% endif %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lightbox.js"></script>
{% endblock %}
{% block title %}{{ profile.fullname }} | {{ gallery.title }}{% endblock %}
{% block header %}{% endblock %}
{% block navbar-text %}
{% endblock %}
{% block content %}
{% if user.is_authenticated and user.username == username %}
<div id="dialog" title="Are you sure?">
  <p>
    <span class="ui-icon ui-icon-alert"></span>
    This photo will be permanently deleted.</p>
</div>
{% endif %}
<div class="row">
  <div class="span12">
    <ul class="thumbnails" id="sortable">
      {% for photo in gallery.photo_set.all %}
      <li>
	<div style="position: relative; left: 0; top: 0;">
	  <a href="/{{ photo.image.url }}" class="lightbox" rel="lightbox[{{ gallery.title }}]" title="{{ photo.caption }}">
	    {% if profile.gallery_columns == 3 %}
	    <img src="/{{ photo.thumbnail_3.url }}">
	    {% else %}
	    <img src="/{{ photo.thumbnail_1.url }}">
	    {% endif %}
	  </a>
	  {% if user.is_authenticated and username == user.username %}
	  <a href="/{{ username }}/photo/{{ photo.pk }}/delete/" class="confirm">
	    <img src="{{ STATIC_URL }}img/delete.png" style="position: absolute; top: 0; right: 0">
	  </a>
	  <a href="http://google.com">
	    <img src="{{ STATIC_URL }}img/edit.png" style="position: absolute; bottom: 0; left: 0;"/>
	  </a>
	  {% endif %}
	</div>
	<p>{{ photo.caption }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
