{% extends "portfolio_base.html" %}
{% block title %}{{ profile.fullname }} | Help{% endblock %}
{% block content %}
<div class="featurette">
  <h4 class="featurette-heading muted">What can I customize?</h4>
  <p class="muted">By doing this</p>
  <hr style="border-top: none">
</div>
<div class="featurette">
  <h4 class="featurette-heading muted">I ran out of uploads.  What are my options?</h4>
  <p class="muted">If you're out of uploads, you can delete some items or upgrade your account.</p>
  <hr style="border-top: none">
</div>
<div class="featurette">
  <h4 class="featurette-heading muted">How do I upload an image?</h4>
  <p class="muted">By doing this</p>
  <hr style="border-top: none">
</div>
<div class="featurette">
  <h4 class="featurette-heading muted">How do I upload a video?</h4>
  <p class="muted">By doing this</p>
  <hr style="border-top: none">
</div>
<div class="featurette">
  <h4 class="featurette-heading muted">How do I change the order of my images, videos, or galleries?</h4>
  <p class="muted">By doing this</p>
  <hr style="border-top: none">
</div>
<div class="featurette">
  <h4 class="featurette-heading muted">How do I edit my <em>About</em> page?</h4>
  <p class="muted">By doing this</p>
  <hr style="border-top: none">
</div>
<div class="featurette">
  <h4 class="featurette-heading muted">How do I enable or disable my <em>About</em>, <em>Blog</em>, or <em>Contact</em> page?</h4>
  <p class="muted">By doing this</p>
  <hr style="border-top: none">
</div>
<div class="featurette">
  <h4 class="featurette-heading muted">What if my question isn't answered here?</h4>
  <p class="muted">In that case, feel free to 
    <a href="http://{{ DOMAIN }}/contact/" target="_blank" style="text-decoration: none">contact</a> us!
    Tell us about your problem and we'll get back to you as soon as we can.
  </p>
</div>
{% endblock %}
