{% extends "portfolio_base.html" %}
{% block title %}{{ profile.fullname }} | Portfolio{% endblock %}
{% block script %}
<script>
$(document).ready(function() {
  $('a.confirm').click(function(event) {
    event.preventDefault()
    var url = $(this).attr('href');
    var confirm_box = confirm('Are you sure you want to delete this gallery and all photos it contains?');
    if (confirm_box) {
       window.location = url;
    }
  });
});
</script>
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
{% if user.is_authenticated and user.username == username %}
<div class="row">
  <div class="span1">
  </div>
  <div class="span3">
    <a href="/user/{{ username }}/create_gallery/" class="btn btn-large btn-success">Create a new gallery</a>
  </div>
</div>
{% endif %}
<div class="row">
  <div class="span1">
  </div>
  {% for gallery in galleries %}
    <div class="span3">
      {% if gallery.count > 0 %}
      <a href="/user/{{ username }}/gallery/{{ gallery.pk }}/delete/" class="confirm">(x)</a>
      <a href="/user/{{ username }}/gallery/{{ gallery.pk }}/">
	{% with first_photo=gallery.photo_set.all|first %}
	<img src="/{{ first_photo.thumbnail.url }}">
	{% endwith %}
      </a>
      <p><b>{{ gallery.title }}</b></p>
      {% else %}
      <a href="/user/{{ username }}/gallery/{{ gallery.pk }}/delete/" class="confirm">(x)</a>
      <a href="/user/{{ username }}/upload/"><img src="/static/img/empty_gallery.png"></a>
      <p><b>{{ gallery.title }} (empty)</b></p>
      {% endif %}
    </div>
  {% if forloop.counter|divisibleby:"3" %}
  </div>
  <div class="row">
    <div class="span1">
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
