{% extends "portfolio_base.html" %}
{% block title %}{{ profile.fullname }}{% endblock %}
{% block script %}
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/get-thumbnail.js"></script>
{% if user.is_authenticated and user.username == username %}
<script src="{{ STATIC_URL }}js/confirm-delete.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/csrf.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/sorting.js"></script>
{% endif %}
<script>
  $(document).ready(function(){
  $(".darken").hover(
    function() {
      var image = $(this).find("img");
      var title = $(this).find(".gallery-title");
      var left = (image.width() - title.outerWidth()) / 2;
      if (left <= 0) {
	left = 10;
      }
      title.css({
        position: 'absolute',
        left: left,
	right: left,
        top: (image.height() - title.outerHeight()) / 2
      });
      image.fadeTo(75, 0.6);
      title.show();
    },
    function() {
      $(this).find("img").fadeTo(10, 1);
      $(this).find(".gallery-title").hide();
    }
  );
});
</script>
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
{% if user.is_authenticated and user.username == username %}
{% if profile.photo_count > customer.account_limit %}
<h1 style="color: red">UPLOAD LIMIT EXCEEDED</h1>
<p style="color: orange"><em>You've exceeded your upload limit ({{ customer.account_limit }} uploads), probably because you downgraded
    your account. Please either <a href="/settings">upgrade</a> your account or delete the excess 
    photos to re-enable your public portfolio.</em></p>
{% endif %}
<div id="dialog" title="Are you sure?">
  <p>
    <span class="ui-icon ui-icon-alert"></span>
    This gallery and all photos and videos it contains will be permanently deleted.</p>
</div>
{% endif %}
{% if user.is_authenticated and user.username == username %}
<div class="row" style="padding-bottom: 25px">
  <a class="btn-green btn-green-link" href="/create_gallery/" style="margin-left: 20px"><i class="icon-plus icon-white"></i> Create Gallery</a>
</div>
{% endif %}
<div class="row muted">
  <div class="span12">
    <ul class="thumbnails sortable-galleries">
      {% for gallery in galleries %}
      <li id="galleries_{{ gallery.pk }}">
	<div style="position: relative; left: 0; top: 0;" class="darken">
	  {% if gallery.count > 0 %}
	  <a href="/gallery/{{ gallery.pk }}/">
	    {% with first_item=gallery.item_set.all|first %}
	    {% if profile.portfolio_columns == 3 %}
	    {% if gallery.thumbnail %}
	    <img src="{{ gallery.thumbnail_3.url }}">
	    {% else %}
	    {% if first_item.is_photo %}
	    <img src="{{ first_item.photo.thumbnail_3.url }}">
	    {% else %}
	    <!-- Get the video thumbnail here -->
	    <img class="video-thumbnail-img" src="{{ STATIC_URL }}img/empty_gallery_square.png" data-url="{{ first_item.video.url }}" style="height: {{ SQUARE_THUMBNAIL_DIMENSION }}px; width: {{ SQUARE_THUMBNAIL_DIMENSION }}px">
	    {% endif %}
	    {% endif %}
	    {% else %}
	    {% if gallery.thumbnail %}
	    <img src="{{ gallery.thumbnail_1.url }}">
	    {% else %}
	    {% if first_item.is_photo %}
	    <img src="{{ first_item.photo.thumbnail_1.url }}">
	    {% else %}
	    <!-- Get the video thumbnail here -->
	    <img class="video-thumbnail-img" src="{{ STATIC_URL }}img/empty_gallery_wide.png" data-url="{{ first_item.video.url }}" style="height: {{ WIDE_THUMBNAIL_HEIGHT }}px; width: {{ WIDE_THUMBNAIL_WIDTH }}px">
	    {% endif %}
	    {% endif %}
	    {% endif %}
	    {% endwith %}
            <div class="gallery-title"><h4 style="color: white">{{ gallery.title }}</h4></div>
	  </a>
	  {% else %}
	  {% if profile.portfolio_columns == 3 %}
	  {% if gallery.thumbnail %}
	  <a href="/gallery/{{ gallery.pk }}/">
	    <img src="{{ gallery.thumbnail_3.url }}">
	  {% else %}
	  <a href="/gallery/{{ gallery.pk }}/">
	    <img src="{{ STATIC_URL }}img/empty_gallery_square.png">
	  {% endif %}
	  {% else %}
	  {% if gallery.thumbnail %}
	  <a href="/gallery/{{ gallery.pk }}/">
	    <img src="{{ gallery.thumbnail_1.url }}">
	  {% else %}
	  <a href="/gallery/{{ gallery.pk }}/">
	    <img src="{{ STATIC_URL }}img/empty_gallery_wide.png">
	  {% endif %}
	  {% endif %}
            <div class="gallery-title"><h4 style="color: white">{{ gallery.title }} (empty)</h4></div>
	  </a>
	  {% endif %}
	  {% if user.is_authenticated and username == user.username %}
	  <a href="/upload/image/{{ gallery.pk }}/">
	    <img src="{{ STATIC_URL }}img/upload.png" style="position: absolute; top: 0; left: 0;"/>
	  </a>
	  {% if gallery.count > 0 %}
	  <a href="/gallery/{{ gallery.pk }}/delete/" class="confirm">
	  {% else %}
	  <a href="/gallery/{{ gallery.pk }}/delete/">
	  {% endif %}
	    <img src="{{ STATIC_URL }}img/delete.png" style="position: absolute; top: 0; right: 0;"/>
	  </a>
	  <a href="/gallery/{{ gallery.pk }}/edit/">
	    <img src="{{ STATIC_URL }}img/edit.png" style="position: absolute; bottom: 0; left: 0;"/>
	  </a>
	  {% endif %}
	</div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
