{% extends "portfolio_base.html" %}
{% block title %}{{ profile.fullname }} | Upload{% endblock %}
{% block content %}
{% if profile.photo_count >= customer.account_limit %}
<h3 class="muted">You've reached your upload limit!</h3>
<p class="muted"><em>Either <a href="/settings/">upgrade</a> your account or delete photos</em></p>
{% else %}
<div class="row muted">
  <div class="span3">
  </div>
  <div class="span6">
    <h3>Upload a photo</h3>
    <p>
      Select an existing gallery to hold this photo.<br />
      You can also 
      <a href="/create_gallery/">create</a> a new gallery.
    </p>
    <form method="post" action="." enctype="multipart/form-data">
      {% csrf_token %}
      {{ photo_form.as_p }}
      <input type="submit" value="Upload photo" class="btn btn-large btn-primary">
    </form>
  </div>
</div>
{% endif %}
{% endblock %}
