{% extends "portfolio_base.html" %}
{% block title %}{{ profile.fullname }} | Upload{% endblock %}
{% block content %}
{% if profile.photo_count >= customer.account_limit %}
<h3 class="muted">You've reached your upload limit!</h3>
<p class="muted"><em>Either <a href="/settings/">upgrade</a> your account or delete photos</em></p>
{% else %}
<div class="row muted">
  <div class="span3">
  </div>
  <div class="span6">

    {% if photo_form and item_form %}
    <h3>Upload an Image</h3>
    <form method="post" action="." enctype="multipart/form-data">
      {% csrf_token %}
      {{ item_form.as_p }}
      {{ photo_form.as_p }}
      <input type="submit" value="Upload Image" class="btn-green">
      <a class="btn-contact btn-link" href="/gallery/{{ gallery_id }}/" style="margin-left: 10px">Cancel</a>
    </form>
    {% endif %}

    {% if video_form %}
    <h3>Upload a Video</h3>
    <form method="post" action=".">
      {% csrf_token %}
      {{ video_form.as_p }}
      <input type="submit" value="Upload Video" class="btn-green">
      <a class="btn-contact btn-link" href="/gallery/{{ gallery_id }}/" style="margin-left: 10px">Cancel</a>
    </form>
    {% endif %}

  </div>
</div>
{% endif %}
{% endblock %}
