{% extends "site_base.html" %}
{% block title %}Your free online portfolio{% endblock %}
{% block script %}
<script>
$(document).ready(function(){
    $('#custom-carousel').carousel({
      interval: 7000
    });
    $(".darken").hover(function() {
      var image = $(this).find("img");
      var title = $(this).find(".thumbnail-title");
      var left = (image.width() - title.outerWidth()) / 2;
      title.css({
        left: left,
        top: (image.height() - title.outerHeight()) / 2
      });
      image.fadeTo(500, 0.6);
      title.show();
    }, function() {
      $(this).find("img").fadeTo(10, 1);
      $(this).find(".thumbnail-title").hide();
    });
});
</script>
{% endblock %}
{% block head %}
<style>
  .darken {
    position: relative;
    background-color: white;
  }
  .thumbnail-title {
    position: absolute;
    color: white;
  }
</style>
{% endblock %}
{% block content %}
<div class="splash">
  <div class="jumbotron" style="margin-bottom: 0">
    <h1 style="font-family: 'Raleway', sans-serif; color: white; font-weight: 500">Your online portfolio</h1>
    <p class="lead" style="font-family: 'Raleway', sans-serif; color: white; font-weight: 700">No HTML &bull; No CSS &bull; No installation</p>
    <a class="btn btn-large signup-btn" href="/register/basic/"><strong>Sign up &bull; Free</strong></a>
  </div>
</div>

<div class="below-splash">
  <div class="container">
    <div style="text-align: center">
      <div class="row-fluid marketing">
	<div class="span3 offset1">
	  <h2 class="colored">Classy</h2>
	  <p class="colored">An online portfolio should never compete with its content.</p>
	</div>

	<div class="span4">
	  <h2 class="colored">Simple</h2>
	  <p class="colored">It's easy to customize your portfolio and upload images and videos.</p>
	</div>

	<div class="span3">
	  <h2 class="colored">Quick</h2>
	  <p class="colored">Create a portfolio in minutes.</p>
	</div>
      </div>
    </div>
  </div>
</div>

<div class="examples">
  <div class="container">
    <ul class="thumbnails">
      <li class="span12">
	<a href="http://jpasko.{{ DOMAIN }}/" target="_blank" class="thumbnail darken">
	  <img src="{{ STATIC_URL }}img/seattle.png" alt="">
	  <div class="thumbnail-title hide"><h1>Visit James Pasko's portfolio</h1></div>
	</a>
      </li>
      <li class="span6">
	<a href="http://jpasko.{{ DOMAIN }}/" target="_blank" class="thumbnail darken">
	  <img src="{{ STATIC_URL }}img/seattle.png" alt="">
	  <div class="thumbnail-title hide"><h2>Visit James Pasko's portfolio</h2></div>
	</a>
      </li>
      <li class="span6">
	<a href="http://jpasko.{{ DOMAIN }}/" target="_blank" class="thumbnail darken">
	  <img src="{{ STATIC_URL }}img/seattle.png" alt="">
	  <div class="thumbnail-title hide"><h2>Visit James Pasko's portfolio</h2></div>
	</a>
      </li>
    </ul>
  </div>
</div>
<!--
<div class="container-narrow" id="examples">
  <div id="custom-carousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <a href="http://jpasko.{{ DOMAIN }}/" target="_blank">
	  <img src="{{ STATIC_URL }}img/seattle.png" alt="">
	</a>
        <div class="container">
          <div class="carousel-caption">
            <a class="btn btn-large btn-primary" href="http://jpasko.{{ DOMAIN }}/" target="_blank" style="float: right; margin-right: 100px">
	      View James Pasko's Portfolio
	    </a>
          </div>
        </div>
      </div>
      <div class="item">
        <a href="http://rnoyce.{{ DOMAIN }}/" target="_blank">
          <img src="{{ STATIC_URL }}img/seattle.png" alt="">
	</a>
        <div class="container">
          <div class="carousel-caption">
            <a class="btn btn-large btn-primary" href="http://rnoyce.{{ DOMAIN }}/" target="_blank" style="float: right; margin-right: 100px">
	      View Robert Noyce's Portfolio
	    </a>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#custom-carousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#custom-carousel" data-slide="next">&rsaquo;</a>
  </div>
</div>
-->

<div class="container">
  <div class="featurette">
    <h2 class="featurette-heading">Beauty, Simplified. <span class="muted">A stunning portfolio.</span></h2>
    <p class="lead"></p>
  </div>

  <hr class="featurette-divider">
  <div class="featurette">
    <h2 class="featurette-heading" style="text-align: right">Never Any Ads. <span class="muted">That's a promise.</span></h2>
    <p class="lead"></p>
  </div>

  <hr class="featurette-divider">
  <div class="featurette">
    <h2 class="featurette-heading">Free. <span class="muted">And you get <em>all</em> the features.</span></h2>
  </div>

  <div class="jumbotron" style="padding: 30px 0">
    <a class="btn btn-large btn-primary" style="border-radius: 2px" href="/register/">Sign up</a>
  </div>
</div>

<div class="muted hero-unit" style="text-align: center">
  <p style="font-size: 2em">
    <a href="http://twitter.com/citreo_us" class="dull-link muted" target="_blank">@citreo_us</a>
    <span style="color: #0756A2; padding-right: 30px; padding-left: 30px">&bull;</span>
    <a href="http://facebook.com/citreous" class="dull-link muted" target="_blank">facebook</a>
    <span style="color: #0756A2; padding-right: 30px; padding-left: 30px">&bull;</span>
    <a href="/contact/" class="dull-link muted">contact</a>
    <span style="color: #0756A2; padding-right: 30px; padding-left: 30px">&bull;</span>
    <a href="/about/" class="dull-link muted">about</a>
  </p>
</div>
{% endblock %}
