{% extends "site_base.html" %}
{% block title %}Your free online portfolio!{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1><span>Simple</span> &bull; <span>Elegant</span> &bull; <span style="color: #7A0000">Free</span></h1>
    <p class="lead">Showcase your best work.  <em>In minutes.</em></p>
    <a class="btn btn-large btn-primary" href="/register/basic/">Sign up &bull; Free</a>
  </div>
  <hr>
</div>
<div class="container-narrow">
  <div class="row-fluid marketing">
    <div class="span6">
      <h4>Stylish</h4>
      <p>Create your own stylish portfolio to showcase your work</p>

      <h4>Free</h4>
      <p>Sign up for a free portfolio and discover how easy it is.  Plus, you get access to <em>all</em> the features right away.
      Upgrade only as necessary.</p>
    </div>

    <div class="span6">
      <h4>Simple</h4>
      <p>Easily arrange your images and customize your portfolio</p>

      <h4>Quick</h4>
      <p>You'll be up, running, and live in minutes.  Create a profile, link to your social pages, and add contact information.
      All optional and at your discretion.</p>

    </div>
  </div>
</div>
{% endblock %}
