<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Citreous &middot; {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/site_style.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% block head %}{% endblock %}
    {% block script %}{% endblock %}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="wrapper">

      <div class="container" style="padding-top: 10px">
	<div class="masthead">
          <ul class="nav nav-pills pull-right">
	    {% if not user.is_authenticated %}
	    <li><a href="/register/">sign up</a></li>
	    <li><a href="/login/">login</a></li>
            {% else %}
	    <li><a href="/{{ user.username }}/">profile</a></li>
	    <li><a href="/logout/">logout</a></li>
            {% endif %}
          </ul>
          <h1 style="padding-left: 40px">
	    <a href="/" class="logo">
	      Citreo<img src="{{ STATIC_URL }}img/lemon.png" style="padding-left: 0px">s
	    </a>
	  </h1>
	  <hr>
	</div>
      </div>
      

      {% block content %}{% endblock %}

      
      <div class="push"></div>

    </div><!-- Wrapper -->

    <div class="footer muted">    
      <div class="container-narrow">
	<hr style="margin: 0px">
        <p style="text-align: center;">&copy; {% now "Y" %}, Pasko Enterprises LLC.  
	  All rights reserved.  <a href="/terms/">Terms</a> | <a href="/privacy/">Privacy</a></p>
      </div>
    </div>
  </body>
</html>
